<form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
[formGroup]="paymentForm" (ngSubmit)="submit()" *ngIf="request?.statusName === this.mediationCaseStatusEnum.REGISTRATION_PENDING">
    <div class="grid sm:grid-cols-2 gap-3 pb-4 w-full">
        <div class="w-full">
            <mat-label id="payment-method-label">
                <ng-container *transloco="let translate">
                    {{translate('Choose-Payment-Mode')}}
                </ng-container>
            </mat-label>
            <mat-radio-group formControlName="paymentMethod"
            aria-labelledby="payment-method-label" (change)="selectPaymentMethod($event)"
            >
                <mat-radio-button color="primary" 
                *ngFor="let p of paymentMethods; let i = index" [value]="p">
                    {{p.type}}
                </mat-radio-button>
            </mat-radio-group>
            <mat-error *ngIf="submitted && f.paymentMethod.hasError('required')">
                <ng-container *transloco="let translate">
                    {{translate('Field-Required')}}
                </ng-container>
            </mat-error>
        </div>
        
    </div>
    <div *ngIf="f.paymentMethod.value?.type === paymentMethodsEnum.BANK">
        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
            <mat-form-field class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Bank-Name')}}
                       
                    </ng-container>
                </mat-label>
                <input matInput formControlName="bankName">
                <mat-error *ngIf="submitted && f.bankName.hasError('required')">
                    <ng-container *transloco="let translate">
                        {{translate('Field-Required')}}
                    </ng-container>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Name-Of-Account-Holder')}}
                      
                    </ng-container>
                </mat-label>
                <input matInput formControlName="nameOfAccountHolder">
                <mat-error *ngIf="submitted && f.nameOfAccountHolder.hasError('required')">
                    <ng-container *transloco="let translate">
                        {{translate('Field-Required')}}
                    </ng-container>
                </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Account-Number')}}
                    </ng-container>
                </mat-label>
                <input matInput formControlName="accountNumber">
                <mat-error *ngIf="submitted && f.accountNumber.hasError('required')">
                    <ng-container *transloco="let translate">
                        {{translate('Field-Required')}}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
            <mat-form-field class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Transfer-Date')}}
                    </ng-container>
                </mat-label>
                <input
                    id="transferDate"
                    [matDatepicker]="pickerPD"
                    matInput
                    [formControlName]="'transferDate'">
                    <mat-datepicker-toggle
                        matSuffix
                        [for]="pickerPD"></mat-datepicker-toggle>
                    <mat-datepicker #pickerPD></mat-datepicker>
                    <mat-error *ngIf="submitted && f.transferDate.hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Field-Required')}}
                        </ng-container>
                    </mat-error>
               
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Payment-Amount')}}
                    </ng-container>
                </mat-label>
                <input
                    matInput
                    formControlName="paymentAmount">
                    <mat-error *ngIf="submitted && f.paymentAmount.hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Field-Required')}}
                        </ng-container>
                    </mat-error>
            </mat-form-field>
            <mat-form-field class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Currency')}}
                    </ng-container>
                </mat-label>
                <mat-select formControlName="paymentCurrency">
                    <mat-option *ngFor="let c of currencies" [value]="c" >
                        <span>{{c.code}}</span>
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="submitted && f.paymentCurrency.hasError('required')">
                    <ng-container *transloco="let translate">
                        {{translate('Field-Required')}}
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
    </div>
    
    <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700" *ngIf="request?.statusName === mediationCaseStatusEnum.REGISTRATION_PENDING">
        <button
        type="submit"
        class="px-6 ml-3"
        mat-flat-button
        [color]="'primary'"
        [disabled]="submitting">
        <span *ngIf="!submitting">
            <ng-container *transloco="let translate">
                {{translate('Submit')}}
            </ng-container>
        </span>
        <mat-progress-spinner
            *ngIf="submitting"
            [diameter]="24"
            [mode]="'indeterminate'"></mat-progress-spinner>
    </button>
    </div>
</form>
<div *ngIf="request?.registrationInvoiceSent"
class="flex flex-col mt-1 px-8 pt-10 bg-card shadow rounded overflow-hidden">
<div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
    <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Payment-Mode')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.regPaymentModeName}}</p>
    </div>
   
</div>
<div class="grid sm:grid-cols-4 gap-3 pb-4 w-full" *ngIf="request?.regPaymentModeName === paymentMethodsEnum.BANK">
    <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Bank-Name')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.regBankName}}</p>
    </div>
    <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Name-Of-Account-Holder')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.regTransferee}}</p>
    </div>
     <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Account-Number')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.regBankAccountNb}}</p>
    </div>
    <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Transfer-Date')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.regTransferDate | date : 'dd/MM/yyyy'}}</p>
    </div>
    <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Payment-Amount')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.regPaymentAmount | number : '1.2-2'}}</p>
    </div>
    <div class="w-full">
        <p class="text-md font-medium">
            <ng-container *transloco="let translate">
                {{translate('Currency')}}
            </ng-container>
        </p>
        <p class="text-md mb-6">{{request?.currencyCode}}</p>
    </div>
   
</div>
</div>