<div class="flex flex-col flex-auto min-w-0">
    <div class="flex-auto p-6 sm:p-10">
            <!-- Logo -->
            <div class="w-48">
                <img src="assets/images/logo/willminds_reslove_light.png">
            </div>

            <!-- Title -->
            <!--<div class="mt-8 text-1xl font-extrabold tracking-tight leading-tight"> 
                <ng-container *transloco="let translate">
                {{translate('Sign-up')}}
            </ng-container></div>-->
            <div class="flex items-baseline mt-0.5 font-medium">
                <div> <ng-container *transloco="let translate">
                    {{translate('Already-Have-Account')}}
                </ng-container></div>
                <a
                    class="ml-1 text-primary-500 hover:underline"
                    [routerLink]="['/sign-in']"> 
                    <ng-container *transloco="let translate">
                        {{translate('Sign-In')}}
                    </ng-container>
                </a>
            </div>

            <!-- Alert -->
            <fuse-alert
                class="mt-8"
                *ngIf="showAlert"
                [appearance]="'outline'"
                [showIcon]="false"
                [type]="alert.type"
                [@shake]="alert.type === 'error'">
                {{alert.message}}
            </fuse-alert>

            <!-- Sign Up form -->
            <form
            class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
                [formGroup]="signUpForm"
                #signUpNgForm="ngForm">
                <p class="text-lg font-medium">Sign Up</p>
                <!-- Name field -->
                <div class="grid grid-cols-2 gap-6 w-full">
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Full-Name')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="fullName"
                        matInput
                        [formControlName]="'fullName'">
                    <mat-error *ngIf="signUpForm.get('fullName').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Full-Name-Required')}}
                        </ng-container>
                    </mat-error>
                </mat-form-field>


                <!-- Email field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Email')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="email"
                        matInput
                        [formControlName]="'email'">
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Email-Required')}}
                        </ng-container>
                    </mat-error>
                    <mat-error *ngIf="signUpForm.get('email').hasError('email')">
                        <ng-container *transloco="let translate">
                            {{translate('Email-Invalid')}}
                        </ng-container>
                    </mat-error>
                </mat-form-field>
            </div>
            <div class="grid grid-cols-3 gap-6 w-full">
                <!-- Nationality field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Nationality')}}
                        </ng-container>
                    </mat-label>
                    <mat-select formControlName="nationality">
                        <mat-select-trigger>{{signUpForm.get('nationality').value}}</mat-select-trigger>
                            <mat-option class="custom-search-input">
                            <lib-mat-select-search
                                [list]="countries"
                                [searchProperties]="['name']"
                                (filtered)="filteredCountries = $event">
                            </lib-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let country of filteredCountries" [value]="country.name" >
                            <span>{{country.name}}</span>
                        </mat-option>
                        
                      </mat-select>
                      <mat-icon matSuffix *ngIf="signUpForm.get('nationality').value" (click)="signUpForm.get('nationality').setValue(null)">close</mat-icon>
                    <mat-error *ngIf="signUpForm.get('email').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Nationality-Required')}}
                        </ng-container>
                    </mat-error>
                    
                </mat-form-field>
                 <!-- Profession field -->
                 <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Profession')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="profession"
                        matInput
                        [formControlName]="'profession'">
                    <mat-error *ngIf="signUpForm.get('profession').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Profession-Required')}}
                        </ng-container>
                    </mat-error>
                   
                </mat-form-field>
                <!-- DOB field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Date-Of-Birth')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="dob"
                        [matDatepicker]="pickerDob"
                        matInput
                        [formControlName]="'dob'">
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="pickerDob"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDob></mat-datepicker>
                    <mat-error *ngIf="signUpForm.get('dob').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Date-Of-Birth-Required')}}
                        </ng-container>
                    </mat-error>
                   
                </mat-form-field>
            </div>
            <div class="grid grid-cols-2 gap-6 w-full">
                <!-- phone field -->
                <div class="w-full">
                <mat-label>Phone *</mat-label>
                <br>
                <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Lebanon"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="phone"
                formControlName="phone"
            >
            </ngx-intl-tel-input>
            <mat-error *ngIf="submitted && signUpForm.get('phone').hasError('required')">
                <ng-container *transloco="let translate">
                    {{translate('Phone-Required')}}
                </ng-container>
            </mat-error>
            <mat-error *ngIf="submitted && signUpForm.get('phone').hasError('validatePhoneNumber')">
                <ng-container *transloco="let translate">
                    {{translate('Invalid-Phone')}}
                </ng-container>
            </mat-error>
        </div>
                <!-- address field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Address')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="address"
                       
                        matInput
                        [formControlName]="'address'">
               
                    <mat-error *ngIf="signUpForm.get('address').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Address-Required')}}
                        </ng-container>
                    </mat-error>
                   
                </mat-form-field>
            </div>
               
            <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button mat-button type="button" (click)="backToSignin()">
                    <ng-container *transloco="let translate">
                        {{translate('Return-To')}} {{translate('Sign-In')}}
                    </ng-container>
                </button>
                <!-- Submit button -->
                <button
                   
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="signUpForm.disabled"
                    (click)="signUp()">
                    <span *ngIf="!signUpForm.disabled">
                        <ng-container *transloco="let translate">
                            {{translate('Create-Account')}}
                        </ng-container>
                    </span>
                    <mat-progress-spinner
                        *ngIf="signUpForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>
            </form>
        </div>
 
</div>
