<h2 mat-dialog-title>
      <strong>
        <ng-container *transloco="let translate">
            <span>{{translate('Change-Password')}}</span>
        </ng-container>
      </strong>
  
</h2>
<form [formGroup]="securityForm" (ngSubmit)="submitForm()">
<mat-dialog-content>
    <div class="grid sm:grid-cols-4 gap-6 w-full mt-8">
        <!-- Current password -->
        <div class="sm:col-span-4">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>
                    <ng-container *transloco="let translate">
                        <span>{{translate('Current-Password')}}</span>
                    </ng-container>
                </mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                <input type="password" matInput formControlName="currentPassword" #currentPassword>
                <button
                        mat-icon-button
                        type="button"
                        (click)="currentPassword.type === 'password' ? currentPassword.type = 'text' : currentPassword.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="currentPassword.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="currentPassword.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                <mat-error *ngIf="f.currentPassword.errors?.required">
                    <ng-container *transloco="let translate">
                        <span>{{translate('Current-Password-required')}}</span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
        </div>
        <!-- New password -->
        <div class="sm:col-span-4">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>
                    <ng-container *transloco="let translate">
                        <span>{{translate('New-Password')}}</span>
                    </ng-container>
                </mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                <input type="password" matInput formControlName="newPassword" #newPassword
                [ngbPopover]="passwordValidationTemplate"
                [popoverTitle]="passwordValidationTemplateTitle"
                (keyup)="onPasswordKeyUp($event)"
                >
                <button
                        mat-icon-button
                        type="button"
                        (click)="newPassword.type === 'password' ? newPassword.type = 'text' : newPassword.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="newPassword.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="newPassword.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                <mat-error *ngIf="f.newPassword.errors?.required">
                    <ng-container *transloco="let translate">
                        <span>{{translate('New-Password-required')}}</span>
                    </ng-container>
                </mat-error>
                <mat-error *ngIf="f.newPassword.errors?.pattern">
                    <ng-container *transloco="let translate">
                        <span>{{translate('Invalid-Password')}}</span>
                    </ng-container>
                </mat-error>
            </mat-form-field>

             <!--<password-strength-meter [password]="f.password.value"></password-strength-meter>-->
             <ng-template #passwordValidationTemplateTitle>Password Validator</ng-template>
             <ng-template #passwordValidationTemplate>
                 <div>
                 <table class="table">
                     <tbody>
                         <tr *ngFor="let item of passRequirementCheck">
                             <td>
                                 {{item.text}}
                             </td>
                             <td>
                                 <mat-icon *ngIf="item.valid" color="primary">check</mat-icon>
                                 <mat-icon *ngIf="!item.valid">error</mat-icon>
                             </td>
                         </tr>
                     </tbody>
                 </table>
             </div>
             </ng-template>
            
        </div>
        <!-- Confirm password -->
        <div class="sm:col-span-4">
            <mat-form-field class="w-full" [subscriptSizing]="'dynamic'">
                <mat-label>
                    <ng-container *transloco="let translate">
                        <span>{{translate('Confirm-Password')}}</span>
                    </ng-container>
                </mat-label>
                <mat-icon class="icon-size-5" [svgIcon]="'heroicons_solid:key'" matPrefix></mat-icon>
                <input type="password" matInput formControlName="confirmPassword" #confirmPassword>
                <button
                        mat-icon-button
                        type="button"
                        (click)="confirmPassword.type === 'password' ? confirmPassword.type = 'text' : confirmPassword.type = 'password'"
                        matSuffix>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="confirmPassword.type === 'password'"
                            [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                        <mat-icon
                            class="icon-size-5"
                            *ngIf="confirmPassword.type === 'text'"
                            [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                    </button>
                <mat-error *ngIf="f.confirmPassword.errors?.required">
                    <ng-container *transloco="let translate">
                        <span>{{translate('Confirm-Password-required')}}</span>
                    </ng-container>
                </mat-error>
                <mat-error *ngIf="f.confirmPassword.errors?.mustMatch">
                    <ng-container *transloco="let translate">
                        <span>{{translate('Passwords-Must-Match')}}</span>
                    </ng-container>
                </mat-error>
            </mat-form-field>
            
        </div>
    </div>
</mat-dialog-content>
<!-- Divider -->
<div class="my-10 border-t"></div>
<mat-dialog-actions>
    <button type="submit" mat-raised-button color="primary" cdkFocusInitial [disabled]="changing">
        <ng-container *transloco="let translate">
            <span *ngIf="!changing">{{translate('Change-Password')}}</span>
            
                <mat-progress-spinner
                *ngIf="changing"
                [diameter]="24"
                [mode]="'indeterminate'"></mat-progress-spinner>
                
           
            
        </ng-container>
    </button>
    <button type="button" mat-raised-button cdkFocusInitial (click)="closeDialog()">
        <ng-container *transloco="let translate">
            <span>{{translate('Cancel')}}</span>
        </ng-container>
    </button>
</mat-dialog-actions>
</form>