<div class="flex flex-col w-full min-w-0 sm:absolute sm:inset-0 sm:overflow-hidden">
<div class="sm:overflow-y-auto">


    <!-- Header -->
    <div class="flex flex-col shadow bg-card">

        <!-- Cover image -->
        <div class="p-12">
            <!--<img
                class="h-30 lg:h-60"
                src="assets/images/profile/law_firm_cover_lette.jpg"
                alt="Cover image">-->
        </div>

        <!-- User info -->
        <div class="flex flex-col flex-0 lg:flex-row items-center max-w-5xl w-full mx-auto px-8 lg:h-18 bg-card">

            <!-- Avatar -->
            <div class="-mt-26 lg:-mt-22 rounded-full">
                <div class="profile-img-container">
                    <img
                    class="w-32 h-32 rounded-full ring-4 ring-bg-card image"
                    src="assets/images/avatars/unknown.png"
                    alt="User avatar">
                    <div class="overlay">
                        <a href="#" class="icon" title="Change">
                            <mat-icon class="camera_alt">camera_alt</mat-icon>
                        </a>
                    </div>
                    
                </div>
                
            </div>

            <!-- Details -->
            <div class="flex flex-col items-center lg:items-start mt-4 lg:mt-0 lg:ml-8">
                <div class="text-lg font-bold leading-none">{{authService.user$?.displayName}}</div>
                <div class="text-secondary">{{authService.user$?.roles[0]}}</div>
            </div>

            <!-- Separator -->
            <div class="hidden lg:flex h-8 mx-8 border-l-2"></div>

            <!-- Stats -->
            <div class="flex items-center mt-6 lg:mt-0 space-x-6">
                <div class="flex flex-col items-center">
                    <span class="font-bold">Email</span>
                    <span class="text-sm font-medium text-secondary">{{authService.user$?.email}}</span>
                </div>
                <!--<div class="flex flex-col items-center">
                    <span class="font-bold">Phone</span>
                    <span class="text-sm font-medium text-secondary"></span>
                </div>-->
            </div>

            <!-- Menu -->
            <!--<div class="flex items-center mt-8 mb-4 lg:m-0 lg:ml-auto space-x-6">
                <a
                    class="font-medium"
                    [routerLink]="['./']">
                    Home
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    About
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Followers
                </a>
                <a
                    class="text-secondary"
                    [routerLink]="['./']">
                    Gallery
                </a>
            </div>-->

        </div>

    </div>

    <!-- Main -->
    <div class="flex flex-col justify-center w-full max-w-5xl mx-auto p-6 sm:p-8">

        <!-- Column -->
        <div class="lg:flex flex-col items-start mr-8 ">

            <!-- Profile -->
            <fuse-card class="flex flex-col w-full p-8 ">
                <div class="text-2xl font-semibold leading-tight">My Profile</div>
                
                <hr class="w-full border-t my-6">
                <form            
                [formGroup]="updateProfileForm" (ngSubmit)="submitProfile()"
                #updateProfileNgForm="ngForm" *ngIf="authService.user$.roles[0] === roles.USER">
                
                <!-- Name field -->
                <div class="grid sm:grid-cols-1 gap-3 w-full">
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Full-Name')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="fullName"
                        matInput
                        [formControlName]="'fullName'">
                    <mat-error *ngIf="updateProfileForm.get('fullName').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Full-Name-Required')}}
                        </ng-container>
                    </mat-error>
                </mat-form-field>

            </div>
            <div class="grid sm:grid-cols-3 gap-3 w-full">
                <!-- Nationality field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Nationality')}}
                        </ng-container>
                    </mat-label>
                    <mat-select formControlName="nationality">
                        <mat-select-trigger>{{updateProfileForm.get('nationality').value}}</mat-select-trigger>
                            <mat-option class="custom-search-input">
                            <lib-mat-select-search
                                [list]="countries"
                                [searchProperties]="['name']"
                                (filtered)="filteredCountries = $event">
                            </lib-mat-select-search>
                            </mat-option>
                        <mat-option *ngFor="let country of filteredCountries" [value]="country.name" >
                            <span>{{country.name}}</span>
                        </mat-option>
                        
                      </mat-select>
                      <mat-icon matSuffix *ngIf="updateProfileForm.get('nationality').value" (click)="updateProfileForm.get('nationality').setValue(null)">close</mat-icon>
                    <mat-error *ngIf="updateProfileForm.get('nationality').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Nationality-Required')}}
                        </ng-container>
                    </mat-error>
                    
                </mat-form-field>
                 <!-- Profession field -->
                 <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Profession')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="profession"
                        matInput
                        [formControlName]="'profession'">
                    <mat-error *ngIf="updateProfileForm.get('profession').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Profession-Required')}}
                        </ng-container>
                    </mat-error>
                   
                </mat-form-field>
                <!-- DOB field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Date-Of-Birth')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="dob"
                        [matDatepicker]="pickerDob"
                        matInput
                        [formControlName]="'dob'">
                        <mat-datepicker-toggle
                            matSuffix
                            [for]="pickerDob"></mat-datepicker-toggle>
                        <mat-datepicker #pickerDob></mat-datepicker>
                    <mat-error *ngIf="updateProfileForm.get('dob').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Date-Of-Birth-Required')}}
                        </ng-container>
                    </mat-error>
                   
                </mat-form-field>
            </div>
            <div class="grid sm:grid-cols-2 gap-3 w-full">
                <!-- phone field -->
                <div class="w-full">
                <mat-label>
                    <ng-container *transloco="let translate">
                        {{translate('Phone')}}
                    </ng-container> *</mat-label>
                <br>
                <ngx-intl-tel-input
                [cssClass]="'custom'"
                [preferredCountries]="preferredCountries"
                [enableAutoCountrySelect]="true"
                [enablePlaceholder]="true"
                [searchCountryFlag]="true"
                [searchCountryField]="[
                SearchCountryField.Iso2,
                SearchCountryField.Name
                ]"
                [selectFirstCountry]="false"
                [selectedCountryISO]="CountryISO.Lebanon"
                [maxLength]="15"
                [phoneValidation]="true"
                [separateDialCode]="separateDialCode"
                [numberFormat]="PhoneNumberFormat.National"
                name="phone"
                formControlName="phone"
            >
            </ngx-intl-tel-input>
            <mat-error *ngIf="submitted && updateProfileForm.get('phone').hasError('required')">
                <ng-container *transloco="let translate">
                    {{translate('Phone-Required')}}
                </ng-container>
            </mat-error>
            <mat-error *ngIf="submitted && updateProfileForm.get('phone').hasError('validatePhoneNumber')">
                <ng-container *transloco="let translate">
                    {{translate('Invalid-Phone')}}
                </ng-container>
            </mat-error>
        </div>
                <!-- address field -->
                <mat-form-field class="w-full">
                    <mat-label>
                        <ng-container *transloco="let translate">
                            {{translate('Address')}}
                        </ng-container>
                    </mat-label>
                    <input
                        id="address"
                       
                        matInput
                        [formControlName]="'address'">
               
                    <mat-error *ngIf="updateProfileForm.get('address').hasError('required')">
                        <ng-container *transloco="let translate">
                            {{translate('Address-Required')}}
                        </ng-container>
                    </mat-error>
                   
                </mat-form-field>
            </div>
               
            <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                <button mat-button type="button" (click)="backToLanding()">
                    <ng-container *transloco="let translate">
                        {{translate('Return-To')}} {{translate('Sign-In')}}
                    </ng-container>
                </button>
                <!-- Submit button -->
                <button
                   
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="updateProfileForm.disabled"
                    type="submit">
                    <span *ngIf="!updateProfileForm.disabled">
                        <ng-container *transloco="let translate">
                            {{translate('Update')}}
                        </ng-container>
                    </span>
                    <mat-progress-spinner
                        *ngIf="updateProfileForm.disabled"
                        [diameter]="24"
                        [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
            </div>
            </form>
            </fuse-card>
        </div>

        

    </div>
</div>
</div>
