
<form [formGroup]="fastTrackForm" (ngSubmit)="submit()" *ngIf="(trackMode == 'fast')
&& currentUser?.roles[0] === this.roles.PARTY && request?.statusName === mediationCaseStatusEnum.REGISTRATION_PAID"
class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
  

  <div class="grid sm:grid-cols-2 gap-3 pb-4 w-full">
    <mat-form-field class="w-full">
      <mat-label>
          <ng-container *transloco="let translate">
              {{translate('Language')}}
          </ng-container>
      </mat-label>
      <mat-select formControlName="language">
          <mat-option *ngFor="let lang of languages" [value]="lang" >
              <span>{{lang.name}}</span>
          </mat-option>
      </mat-select>
      <button mat-icon-button *ngIf="f.language.value" (click)="f.language.setValue(null)">
        <mat-icon>close</mat-icon>
      </button>
      <mat-error *ngIf="submitted && f.language.hasError('required')">
          <ng-container *transloco="let translate">
              {{translate('Field-Required')}}
          </ng-container>
      </mat-error>
  </mat-form-field>
  <mat-form-field class="w-full">
    <mat-label>
        <ng-container *transloco="let translate">
            {{translate('Other-Language')}}
        </ng-container>
    </mat-label>
    <input
        matInput
        formControlName="otherLanguage">
        <mat-error *ngIf="submitted && f.otherLanguage.hasError('required')">
            <ng-container *transloco="let translate">
                {{translate('Field-Required')}}
            </ng-container>
        </mat-error>
</mat-form-field>
  </div>
  <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
    <button
    type="submit"
    class="px-6 ml-3"
    mat-flat-button
    [color]="'primary'"
    [disabled]="submitting">
    <span *ngIf="!submitting">
        <ng-container *transloco="let translate">
            {{translate('Submit')}}
        </ng-container>
    </span>
    <mat-progress-spinner
        *ngIf="submitting"
        [diameter]="24"
        [mode]="'indeterminate'"></mat-progress-spinner>
</button>
</div>
</form>

<div *ngIf="request?.statusOrder > 9">
  <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
    <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
        <p class="text-md font-medium"> 
          <ng-container *transloco="let translate">
          {{translate('Language')}}
      </ng-container></p>
     
        <p class="text-md mb-6">{{getLangName(request?.languageId)}}</p>
    </div>
    <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
      <p class="text-md font-medium"> 
        <ng-container *transloco="let translate">
        {{translate('Other-Language')}}
    </ng-container></p>
   
      <p class="text-md mb-6">{{request?.otherLanguageName}}</p>
  </div>
  <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
    <p class="text-md font-medium"> 
      <ng-container *transloco="let translate">
      {{translate('Co-Mediation')}}
  </ng-container></p>
 
    <p class="text-md mb-6">{{request?.coMediation ? 'Yes' : 'No'}}</p>
</div>
</div>
<div class="grid sm:grid-cols-1 gap-3 pb-4 w-full" 
*ngIf="(currentUser?.roles[0] === this.roles.SUPERADMIN || currentUser?.roles[0] === this.roles.ADMIN) && request?.statusName === mediationCaseStatusEnum.CO_MEDIATION_SELECTION_PENDING">
  <div class="w-full">
    <mat-label>
        <ng-container *transloco="let translate">
            {{translate('Co-Mediation')}}?
        </ng-container>
    </mat-label>
    <mat-slide-toggle color="primary" [(ngModel)]="coMediation" (change)="suggestCoMediation()"></mat-slide-toggle>
 
</div>
</div>


</div>

<div *ngIf="currentUser?.roles[0] === this.roles.PARTY && request?.statusName === mediationCaseStatusEnum.CO_MEDIATION_SELECTION_PENDING">
    <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
    <div class="w-full">
        <p class="text-md font-medium"> 
          <ng-container *transloco="let translate">
          {{translate('Co-Mediation')}}
      </ng-container></p>
     
        <p class="text-md mb-6">{{request?.coMediation ?  'Yes' : 'No'}}</p>
        <div class="flex items-center" *ngIf="isAcceptCoMediationVisible">
            <button mat-stroked-button color="primary" 
            class="px-6 ml-3" (click)="acceptCoMediation(true)" [disabled]="acceptingCoMediation || rejectingCoMediation">
                <mat-icon>check</mat-icon>
                <span *ngIf="!acceptingCoMediation">
                    <ng-container *transloco="let translate">
                        {{translate('Accept')}}
                    </ng-container>
                </span>
                
                <mat-progress-spinner
                    *ngIf="accepting"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
            </button>
    
            <button mat-stroked-button  class="px-6 ml-3" (click)="acceptCoMediation(false)"
            [disabled]="accepting || rejecting">
                <mat-icon>close</mat-icon>
                <span *ngIf="!rejectingCoMediation">
                    <ng-container *transloco="let translate">
                        {{translate('Reject')}}
                    </ng-container>
                </span>
                
                <mat-progress-spinner
                    *ngIf="rejecting"
                    [diameter]="24"
                    [mode]="'indeterminate'"></mat-progress-spinner>
                </button>
        </div>
    </div>
    
    </div>
</div>
<form [formGroup]="fastTrackMediatorForm" class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
*ngIf="(currentUser?.roles[0] === this.roles.SUPERADMIN || currentUser?.roles[0] === this.roles.ADMIN) 
&& request?.statusName === mediationCaseStatusEnum.CO_MEDIATOR_SELECTION_PENDING && trackMode == 'fast'"
(ngSubmit)="submitMediator()">
   <div class="grid sm:grid-cols-2 gap-3 pb-4 w-full">
    <mat-form-field class="w-full">
        <mat-label>
            <ng-container *transloco="let translate">
                {{translate('Mediator')}}
            </ng-container>
        </mat-label>
        <mat-select formControlName="mediator" (selectionChange)="getCoMediators()">
            <mat-option *ngFor="let mediator of mediators" [value]="mediator">

                <span
                class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer"
                >
                <div class="flex flex-0 items-center justify-center rounded-full overflow-hidden">
                    <ng-container>
                        <img class="rounded-full" [src]="environment.serverPath + 'Data/Images/' + mediator?.image + '?size=80'">
                    </ng-container>
                    
                </div>
                <div class="min-w-0 ml-4">
                    <div class="font-medium">{{mediator.fullName}}</div>
                </div>
            </span>

            </mat-option>
        </mat-select>
        <button mat-icon-button *ngIf="fFastTrackMediatorForm.mediator.value" (click)="clearMediator()">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="mediatorFormSubmitted && fFastTrackMediatorForm.mediator.hasError('required')">
            <ng-container *transloco="let translate">
                {{translate('Field-Required')}}
            </ng-container>
        </mat-error>
    </mat-form-field>
    <mat-form-field class="w-full">
        <mat-label>
            <ng-container *transloco="let translate">
                {{translate('Co-Mediator')}}
            </ng-container>
        </mat-label>
        <mat-select formControlName="coMediator">
            <mat-option *ngFor="let mediator of coMediators" [value]="mediator">

                <span
                class="z-20 flex items-center px-6 py-4 md:px-8 cursor-pointer"
                >
                <div class="flex flex-0 items-center justify-center rounded-full overflow-hidden">
                    <ng-container>
                        <img class="rounded-full" [src]="environment.serverPath + 'Data/Images/' + mediator?.image + '?size=80'">
                    </ng-container>
                    
                </div>
                <div class="min-w-0 ml-4">
                    <div class="font-medium">{{mediator.fullName}}</div>
                </div>
            </span>

            </mat-option>
        </mat-select>
        <button mat-icon-button *ngIf="fFastTrackMediatorForm.coMediator.value" (click)="fFastTrackMediatorForm.coMediator.setValue(null)">
            <mat-icon>close</mat-icon>
        </button>
        <mat-error *ngIf="mediatorFormSubmitted && fFastTrackMediatorForm.coMediator.hasError('required')">
            <ng-container *transloco="let translate">
                {{translate('Field-Required')}}
            </ng-container>
        </mat-error>
    </mat-form-field>
   </div>
   <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
    <button
    type="submit"
    class="px-6 ml-3"
    mat-flat-button
    [color]="'primary'"
    [disabled]="submittingMediatorForm">
    <span *ngIf="!submittingMediatorForm">
        <ng-container *transloco="let translate">
            {{translate('Submit')}}
        </ng-container>
    </span>
    <mat-progress-spinner
        *ngIf="submittingMediatorForm"
        [diameter]="24"
        [mode]="'indeterminate'"></mat-progress-spinner>
</button>
</div>
</form>

<!--All parties must accept the co-mediator selection in case it's a co-mediation style mediation-->

<div *ngIf="currentUser?.roles[0] === this.roles.PARTY && 
request?.statusName === mediationCaseStatusEnum.CO_MEDIATOR_SELECTION_PENDING &&
request?.coMediation && request?.mediatorId">
    <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">

        <fuse-card class="flex flex-col max-w-80 w-full filter-article">
            <div class="flex items-center">
                <img
                    class="w-40 rounded-lg object-cover"
                    [src]="environment.serverPath + 'Data/Images/' + currentMediator?.image"
                    alt="Mediator image">
                <div class="flex flex-col ml-6">
                    <div class="text-2xl font-semibold leading-tight">{{currentMediator?.fullName}}</div>
                    <div class="text-secondary font-medium text-md">Mediator</div>
                </div>
            </div>
        </fuse-card>
        <fuse-card class="flex flex-col max-w-80 w-full filter-article">
            <div class="flex items-center">
                <img
                    class="w-40 rounded-lg object-cover"
                    [src]="environment.serverPath + 'Data/Images/' + currentCoMediator?.image"
                    alt="Co-Mediator image">
                <div class="flex flex-col ml-6">
                    <div class="text-2xl font-semibold leading-tight">{{currentCoMediator?.fullName}}</div>
                    <div class="text-secondary font-medium text-md">Co-Mediator</div>
                </div>
            </div>
        </fuse-card>
    </div>
</div>


