<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-2 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="text-2xl font-extrabold tracking-tight"> <ng-container *transloco="let translate">
                <span>{{translate(title)}}</span>
            </ng-container></div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Breadcrumbs -->
            <app-pagetitle title="Home" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-4 sm:overflow-y-auto">
        <div class="w-full">

            <div class="w-full pb-4">
                <p>
                    Please complete this form completely if you are interested in having your dispute mediated through
                    Willminds Mediation and Arbitration Center.<br>
                    <strong>Missing information may delay the processing of your request.</strong> The information you provide is
                    solely for the purpose of managing your mediation.
                </p>
            </div>

            <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
                <!--Step 1 submit a request-->
                <mat-tab label="Step 1"> 
                    <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden">
                        <p class="text-lg font-medium">SECTION 1 - DETAILS OF THE PARTIES</p>
                        <p class="text-secondary mb-6">
                            Details of the REQUESTING PARTY
                        </p>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-label>Do you have legal representation? If “Yes” please fill the details below</mat-label>
                        </div>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            
                            <mat-form-field class="w-full">
                                <mat-label>Firm Name</mat-label>
                                <input matInput>
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Lawyer Name</mat-label>
                                <input matInput>
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:email'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Telephone</mat-label>
                                <input matInput>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Address</mat-label>
                                <input matInput>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                                
                        </div>
        
                        <mat-divider class="mt-6 mb-10"></mat-divider>
        
                        <p class="text-lg font-medium"></p>
                        <p class="text-secondary mb-6">
                            Details of the SECOND PARTY
                        </p>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                         </div>
        
                        <mat-divider class="mt-6 mb-10"></mat-divider>
        
                        <p class="text-lg font-medium">SECTION 2 - BRIEF DETAILS OF THE CLAIM</p>
                        <p class="text-secondary mb-6">
                            If the matter is currently before court or arbitration and has been stayed to allow for mediation, please
                            provide the following details
                        </p>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Case Number</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Stage at which the proceedings have reached</mat-label>
                                <input matInput>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Details of any hearing dates that have been set</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
                        <p class="text-lg font-medium">SECTION 3 – AGREEMENT ON MEDIATION</p>
                        <p class="text-secondary mb-6">
                            
                        </p>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-checkbox color="primary">Have all Parties agreed to mediate this matter?
                                    If ‘Yes’, please provide evidence along with this completed form (contract clause or any submission
                                    agreement or written communications)
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <ngx-dropzone (change)="onMediationEvidencesSelect($event)">
                                <ngx-dropzone-label>Drop files here</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of mediationEvidenceFiles" [removable]="true" (removed)="onMediationEvidencesRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-checkbox color="primary">Do you want the Center to send a Notice of
                                    Mediation to the other party/parties to see if they are
                                    prepared to mediate?</mat-checkbox>
                            </div>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Please provide any relevant information below</mat-label>
                                <textarea matInput rows="3"></textarea>
                            </mat-form-field>
                        </div>
                        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <button mat-button>
                                Cancel
                            </button>
                            <button
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'">
                                Save
                            </button>
                        </div>
                    </form>
                </mat-tab>
                <mat-tab label="Step 2" [disabled]="true"> Content 2 </mat-tab>
                <mat-tab label="Step 3" [disabled]="true"> Content 3 </mat-tab>
                <mat-tab label="Step 4" [disabled]="true"> Content 3 </mat-tab>
              </mat-tab-group>
            
        </div>
    </div>
</div>