<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-2 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="text-2xl font-extrabold tracking-tight"> <ng-container *transloco="let translate">
                <span>{{translate(title)}}</span>
            </ng-container></div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Breadcrumbs -->
            <app-pagetitle title="Home" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-4 sm:overflow-y-auto">
        <div class="w-full">

            <div class="w-full pb-4">
                <p>
                    Please complete this form completely if you are interested in having your dispute mediated through
                    Willminds Mediation and Arbitration Center.<br>
                    <strong>Missing information may delay the processing of your request.</strong> The information you provide is
                    solely for the purpose of managing your mediation.
                </p>
            </div>

            <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
                <!--Step 1 submit a request-->
                <mat-tab label="Step 1"> 
                    <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
                    [formGroup]="mediationRequestForm">
                        <p class="text-lg font-medium">SECTION 1 - DETAILS OF THE PARTIES</p>
                        <p class="text-secondary mb-6">
                            Details of the REQUESTING PARTY
                        </p>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Primary Email</mat-label>
                                <input matInput [value]="_authService.user$.email" readonly>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Primary Phone</mat-label>
                                <input matInput [value]="_authService.user$.phoneNumber" readonly>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Secondary Email</mat-label>
                                <input matInput formControlName="requesterSecondaryEmail">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Secondary Telehone</mat-label>
                                <input matInput formControlName="requesterSecondaryTelephone">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-label>Do you have legal representation? If “Yes” please fill the details below</mat-label>
                        </div>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            
                            <mat-form-field class="w-full">
                                <mat-label>Firm Name</mat-label>
                                <input matInput formControlName="legalRFirmName">
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Lawyer Name</mat-label>
                                <input matInput formControlName="legalRLawyerName">
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="legalREmail">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Telephone</mat-label>
                                <input matInput formControlName="legalRTelephone">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="col-span-2 w-full">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="legalRAddress">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                                
                        </div>
        
                        <mat-divider class="mt-6 mb-10"></mat-divider>
        
                        <p class="text-lg font-medium"></p>
                        <p class="text-secondary mb-6">
                            Details of the SECOND PARTY
                            <button mat-stroked-button [disabled]="otherParties.length > otherPartiesLimit"
                            color="primary" (click)="addOtherParty()">
                                Add more
                               
                            </button>
                        </p>
                        <div *ngFor="let p of otherParties; let i = index">
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Entity Name</mat-label>
                                <input matInput [value]="p.entityName">
                                
                            </mat-form-field>
                         
                            <mat-form-field class="w-full">
                                <mat-label>Individual Full Name</mat-label>
                                <input matInput [value]="p.fullName">
                                
                            </mat-form-field>
                     
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput [value]="p.email">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Phone</mat-label>
                                <input matInput [value]="p.telephone">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                            
                            
                         </div>
                         <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-label>Do you know if the Second Party have legal representation? If “Yes”, please fill in the details below</mat-label>
                        </div>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Firm Name</mat-label>
                                <input matInput [value]="p.lawyerFirmName">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Laywer Name</mat-label>
                                <input matInput [value]="p.lawyerName">
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Telephone</mat-label>
                                <input matInput [value]="p.lawyerTelephone">
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput [value]="p.lawyerEmail">
                                
                            </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="col-span-2 w-full">
                                <mat-label>Address</mat-label>
                                <input matInput [value]="p.lawyerAddress">
                                
                            </mat-form-field>
                        </div>
                         <div class="w-full">
                            <button mat-raised-button color="warn" (click)="deleteOtherParty(i)" *ngIf="i > 0">
                                Remove
                            </button>
                        </div>
                         <mat-divider class="mt-6 mb-10" *ngIf="i < otherParties.length - 1"></mat-divider>
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
        
                        <p class="text-lg font-medium">SECTION 2 - BRIEF DETAILS OF THE CLAIM</p>
                        <p class="text-secondary mb-6">
                            If the matter is currently before court or arbitration and has been stayed to allow for mediation, please
                            provide the following details
                        </p>
                        <div class="grid sm:grid-cols-2 gap-3 pb-4 w-full">
                            
                            <mat-form-field class="w-full">
                                <mat-label>Stage at which the proceedings have reached</mat-label>
                                <textarea rows="3" matInput formControlName="processStageReached"></textarea>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Details of any hearing dates that have been set</mat-label>
                                <textarea rows="3" matInput formControlName="hearingDates"></textarea>
                            </mat-form-field>
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
                        <p class="text-lg font-medium">SECTION 3 – AGREEMENT ON MEDIATION</p>
                        <p class="text-secondary mb-6">
                            
                        </p>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-checkbox color="primary" formControlName="allPartyAggreedToMediate">Have all Parties agreed to mediate this matter?
                                    If ‘Yes’, please provide evidence along with this completed form (contract clause or any submission
                                    agreement or written communications)
                                </mat-checkbox>
                            </div>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <ngx-dropzone (change)="onMediationEvidencesSelect($event)">
                                <ngx-dropzone-label>Drop files here</ngx-dropzone-label>
                                <ngx-dropzone-preview *ngFor="let f of mediationEvidenceFiles" [removable]="true" (removed)="onMediationEvidencesRemove(f)">
                                    <ngx-dropzone-label>{{ f.name }})</ngx-dropzone-label>
                                </ngx-dropzone-preview>
                            </ngx-dropzone>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-checkbox color="primary" formControlName="sendNoticeToOtherParties">Do you want the Center to send a Notice of
                                    Mediation to the other party/parties to see if they are
                                    prepared to mediate?</mat-checkbox>
                            </div>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Please provide any relevant information below</mat-label>
                                <textarea matInput rows="3" formControlName="relevantInformation"></textarea>
                            </mat-form-field>
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
                        <p class="text-lg font-medium">SECTION 4 – MEDIATION PROCESS</p>
                        <p class="text-secondary mb-6">
                            
                        </p>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-label>Preferred track of your mediation</mat-label>
                                <mat-radio-group aria-label="Preferred track of your mediation" color="primary">
                                    <mat-radio-button value="1" checked="true">Normal Track</mat-radio-button>
                                    <mat-radio-button value="2">Fast Track</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label>Preferred method of mediation</mat-label>
                                <mat-select></mat-select>
                            </mat-form-field>
                            
                            <div class="w-full">
                                <mat-label>Preferred option for mediator(s)</mat-label>
                                <mat-radio-group color="primary" aria-label="Preferred option for mediator(s)">
                                    <mat-radio-button value="1" checked="true">By Parties</mat-radio-button>
                                    <mat-radio-button value="2">By Center</mat-radio-button>
                                  </mat-radio-group>
                            </div>
                            <mat-form-field class="w-full">
                                <mat-label>Please language for mediation</mat-label>
                                <mat-select></mat-select>
                            </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="gap-3 w-full">
                                <mat-label>Please provide details of any dates to avoid</mat-label>
                                <button mat-stroked-button color="primary" (click)="addDateToAvoid()">
                                    Add
                                </button>
                                <table>
                                    <tbody>
                                        <tr *ngFor="let d of datesToAvoid; let i = index">
                                            <td>
                                               
                                              <input class="form-control" type="date" [value]="d">
                                               
                                            </td>
                                            <td>
                                                <button mat-icon-button color="warn" (click)="datesToAvoid.splice(i,1)">
                                                    <mat-icon>remove_circle</mat-icon>
                                                </button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
                        <p class="text-lg font-medium">SECTION 5 – BACKGROUND OF THE DISPUTE</p>
                        <p class="text-secondary mb-6">
                            
                        </p>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Category of the Dispute</mat-label>
                                <mat-select></mat-select>
                            </mat-form-field>
                            <mat-form-field class="col-span-3 w-full">
                                <mat-label>For dispute(s) involving monetary claims, please provide details of the amount in dispute</mat-label>
                                <input matInput>
                            </mat-form-field>
                        </div>
                        <p class="text-secondary mb-6"><strong>Please provide brief details of the dispute. 
                            Include a summary of what occurred, the date(s) on which the dispute occurred, the names and titles of all individuals involved.</strong> You may attach a separate document setting out the nature of the dispute, but this must not exceed 10 pages.</p>
                            <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                <mat-form-field class="w-full">
                                    
                                    <textarea matInput rows="3"></textarea>
                                </mat-form-field>
                            </div>
                            <p class="text-secondary mb-6"><strong>
                                If you are attaching any additional documents alongside this completed form, please list them here
                            </strong></p>
                            <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                <ngx-dropzone (change)="onMediationEvidencesSelect($event)">
                                    <ngx-dropzone-label>Drop files here</ngx-dropzone-label>
                                    <ngx-dropzone-preview *ngFor="let f of mediationEvidenceFiles" [removable]="true" (removed)="onMediationEvidencesRemove(f)">
                                        <ngx-dropzone-label>{{ f.name }})</ngx-dropzone-label>
                                    </ngx-dropzone-preview>
                                </ngx-dropzone>
                            </div>
                            <p class="text-secondary mb-6"><strong>Please provide details of the relief requested (e.g., an amount of money damages or a description of other relief you seek).</strong></p>
                                <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                    <mat-form-field class="w-full">
                                        
                                        <textarea matInput rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                                <mat-divider class="mt-6 mb-10"></mat-divider>
                                <p class="text-lg font-medium">SECTION 7 – ADDITIONAL INFORMATION</p>
                                <p class="text-secondary mb-6">
                                    Please provide any other information which you consider would be of assistance
                                </p>
                                <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                    <mat-form-field class="w-full">
                                        
                                        <textarea matInput rows="3"></textarea>
                                    </mat-form-field>
                                </div>
                        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <button mat-button>
                                Cancel
                            </button>
                            <button
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'">
                                Save
                            </button>
                        </div>
                        
                    </form>
                </mat-tab>
                <mat-tab label="Step 2" [disabled]="true"> Content 2 </mat-tab>
                <mat-tab label="Step 3" [disabled]="true"> Content 3 </mat-tab>
                <mat-tab label="Step 4" [disabled]="true"> Content 3 </mat-tab>
              </mat-tab-group>
            
        </div>
    </div>
</div>