<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0">
    <!-- Header -->
    <div
        class="flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between p-2 sm:py-2 sm:px-10 border-b bg-card dark:bg-transparent">
        <!-- Title -->
        <div class="text-2xl font-extrabold tracking-tight"> <ng-container *transloco="let translate">
                <span>{{translate(title)}}</span>
            </ng-container></div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">
            <!-- Breadcrumbs -->
            <app-pagetitle title="Home" [breadcrumbItems]="breadCrumbItems"></app-pagetitle>

        </div>
    </div>
    <!-- Main -->
    <div class="flex-auto p-3 sm:p-4 sm:overflow-y-auto">
        <div class="w-full">

            <div class="w-full pb-4">
                <p>
                    Please complete this form completely if you are interested in having your dispute mediated through
                    Willminds Mediation and Arbitration Center.<br>
                    <strong>Missing information may delay the processing of your request.</strong> The information you provide is
                    solely for the purpose of managing your mediation.
                </p>
            </div>

            <mat-tab-group mat-stretch-tabs class="mat-elevation-z4">
                <!--Step 1 submit a request-->
                <mat-tab label="Step 1"> 
                    <form class="flex flex-col mt-4 px-8 pt-10 bg-card shadow rounded overflow-hidden"
                    [formGroup]="mediationRequestForm" (ngSubmit)="submitForm()">
                        <p class="text-lg font-medium">SECTION 1 - DETAILS OF THE PARTIES</p>
                        <p class="text-secondary mb-6">
                            Details of the REQUESTING PARTY
                        </p>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Primary Email</mat-label>
                                <input matInput [value]="_authService.user$.email" readonly>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Primary Phone</mat-label>
                                <input matInput [value]="_authService.user$.phoneNumber" readonly>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:phone'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Secondary Email</mat-label>
                                <input matInput formControlName="requesterSecondaryEmail">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                    <mat-error *ngIf="f.requesterSecondaryEmail.hasError('email')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Invalid-Email')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                           <!-- phone field -->
                <div class="w-full">
                    <mat-label>
                       Secondary Phone </mat-label>
                    <br>
                    <ngx-intl-tel-input
                    [cssClass]="'custom'"
                    [preferredCountries]="preferredCountries"
                    [enableAutoCountrySelect]="true"
                    [enablePlaceholder]="true"
                    [searchCountryFlag]="true"
                    [searchCountryField]="[
                    SearchCountryField.Iso2,
                    SearchCountryField.Name
                    ]"
                    [selectFirstCountry]="false"
                    [selectedCountryISO]="CountryISO.Lebanon"
                    [maxLength]="15"
                    [phoneValidation]="true"
                    [separateDialCode]="separateDialCode"
                    [numberFormat]="PhoneNumberFormat.National"
                    name="requesterSecondaryTelephone"
                    formControlName="requesterSecondaryTelephone"
                >
                </ngx-intl-tel-input>
                <mat-error *ngIf="submitted && f.requesterSecondaryTelephone.hasError('required')">
                    <ng-container *transloco="let translate">
                        {{translate('Field-Required')}}
                    </ng-container>
                </mat-error>
                <mat-error *ngIf="submitted && f.requesterSecondaryTelephone.hasError('validatePhoneNumber')">
                    <ng-container *transloco="let translate">
                        {{translate('Invalid-Phone')}}
                    </ng-container>
                </mat-error>
            </div>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-checkbox color="primary" #anyLegalR (change)="anyLegalRChanged($event)">Do you have legal representation? If “Yes” please fill the details below</mat-checkbox>
                            
                        </div>
                        <ng-container *ngIf="anyLegalR.checked">
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            
                            <mat-form-field class="w-full">
                                <mat-label>Firm Name</mat-label>
                                <input matInput formControlName="legalRFirmName">
                                <mat-error *ngIf="f.legalRFirmName.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Lawyer Name</mat-label>
                                <input matInput formControlName="legalRLawyerName">
                                <mat-error *ngIf="f.legalRLawyerName.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="legalREmail">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                    <mat-error *ngIf="f.legalREmail.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                                    <mat-error *ngIf="f.legalREmail.hasError('email')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Invalid-Email')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-3 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-label>
                                   Phone *</mat-label>
                                <br>
                                <ngx-intl-tel-input
                                [cssClass]="'custom'"
                                [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [searchCountryField]="[
                                SearchCountryField.Iso2,
                                SearchCountryField.Name
                                ]"
                                [selectFirstCountry]="false"
                                [selectedCountryISO]="CountryISO.Lebanon"
                                [maxLength]="15"
                                [phoneValidation]="true"
                                [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National"
                                name="legalRTelephone"
                                formControlName="legalRTelephone"
                            >
                            </ngx-intl-tel-input>
                            <mat-error *ngIf="submitted && f.legalRTelephone.hasError('required')">
                                <ng-container *transloco="let translate">
                                    {{translate('Field-Required')}}
                                </ng-container>
                            </mat-error>
                            <mat-error *ngIf="submitted && f.legalRTelephone.hasError('validatePhoneNumber')">
                                <ng-container *transloco="let translate">
                                    {{translate('Invalid-Phone')}}
                                </ng-container>
                            </mat-error>
                        </div>
                            <mat-form-field class="col-span-2 w-full">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="legalRAddress">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                    <mat-error *ngIf="f.legalRAddress.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                                
                        </div>
                        </ng-container>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
        
                        <p class="text-lg font-medium"></p>
                        <p class="text-secondary mb-6">
                            Details of the SECOND PARTY
                            <button mat-stroked-button [disabled]="f.partyList.value.length > otherPartiesLimit"
                            color="primary" (click)="addOtherParty()">
                                Add more parties ({{partyList.controls.length}})
                               
                            </button>
                            
                        </p>
                        <ng-container formArrayName="partyList">
                        <ng-container *ngFor="let partyForm of partyList.controls; let i = index">
                        <div [formGroup]="partyForm">
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Entity Name</mat-label>
                                <input matInput formControlName="entityName">
                                 <mat-error *ngIf="submitted && partyForm.controls.entityName.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                         
                            <mat-form-field class="w-full">
                                <mat-label>Full Name</mat-label>
                                <input matInput formControlName="fullName">
                                <mat-error *ngIf="partyForm.controls.fullName.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                     
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                    <input matInput formControlName="email">
                                    <mat-error *ngIf="submitted && partyForm.controls.email.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                                    <mat-error *ngIf="submitted && partyForm.controls.email.hasError('email')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Invalid-Email')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                            <div class="w-full">
                               
                                <mat-label>
                                   Phone *</mat-label>
                                <br>
                                <ngx-intl-tel-input
                                [cssClass]="'custom'"
                                [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [searchCountryField]="[
                                SearchCountryField.Iso2,
                                SearchCountryField.Name
                                ]"
                                [selectFirstCountry]="false"
                                [selectedCountryISO]="CountryISO.Lebanon"
                                [maxLength]="15"
                                [phoneValidation]="true"
                                [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National"
                                name="phone"
                                formControlName="phone"
                            >
                            </ngx-intl-tel-input>
                            
                            <mat-error *ngIf="submitted && partyForm.controls.phone.hasError('required')">
                                <ng-container *transloco="let translate">
                                    {{translate('Field-Required')}}
                                </ng-container>
                            </mat-error>
                            <mat-error *ngIf="submitted && partyForm.controls.phone.hasError('validatePhoneNumber')">
                                <ng-container *transloco="let translate">
                                    {{translate('Invalid-Phone')}}
                                </ng-container>
                            </mat-error>
                        </div>
                            
                            
                         </div>
                         <div class="grid sm:grid-cols-2 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Address</mat-label>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                                    <input matInput formControlName="address">
                                    <mat-error *ngIf="submitted && partyForm.controls.address.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                                    
                            </mat-form-field>
                         </div>
                         <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-label>Do you know if the Second Party have legal representation? If “Yes”, please fill in the details below
                             
                            </mat-label>
                        </div>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Firm Name</mat-label>
                                <input matInput formControlName="firmName">
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Laywer Name</mat-label>
                                <input matInput formControlName="lawyerName">
                                
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="lawyerEmail">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:mail'"></mat-icon>
                                    <mat-error *ngIf="partyForm.controls.lawyerEmail.hasError('email')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Invalid-Email')}}
                                        </ng-container>
                                    </mat-error>
                            </mat-form-field>
                            <div class="w-full">
                                <mat-label>
                                   Phone </mat-label>
                                <br>
                                <ngx-intl-tel-input
                                [cssClass]="'custom'"
                                [preferredCountries]="preferredCountries"
                                [enableAutoCountrySelect]="true"
                                [enablePlaceholder]="true"
                                [searchCountryFlag]="true"
                                [searchCountryField]="[
                                SearchCountryField.Iso2,
                                SearchCountryField.Name
                                ]"
                                [selectFirstCountry]="false"
                                [selectedCountryISO]="CountryISO.Lebanon"
                                [maxLength]="15"
                                [phoneValidation]="true"
                                [separateDialCode]="separateDialCode"
                                [numberFormat]="PhoneNumberFormat.National"
                                name="lawyerPhone"
                                formControlName="lawyerPhone"
                            >
                            </ngx-intl-tel-input>
                            <mat-error *ngIf="submitted && partyForm.controls.lawyerPhone.hasError('required')">
                                <ng-container *transloco="let translate">
                                    {{translate('Field-Required')}}
                                </ng-container>
                            </mat-error>
                            <mat-error *ngIf="submitted && partyForm.controls.lawyerPhone.hasError('validatePhoneNumber')">
                                <ng-container *transloco="let translate">
                                    {{translate('Invalid-Phone')}}
                                </ng-container>
                            </mat-error>
                        </div>
                           
                        </div>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="col-span-2 w-full">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="lawyerAddress">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:location-marker'"></mat-icon>
                            </mat-form-field>
                        </div>
                         <div class="w-full">
                            <button mat-raised-button color="warn" (click)="removeOtherParty(i)" *ngIf="i > 0">
                                Remove
                            </button>
                        </div>
                         <mat-divider class="mt-6 mb-10" *ngIf="i < f.partyList.value.length - 1"></mat-divider>
                        </div>
                        </ng-container>
                    </ng-container>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
        
                        <p class="text-lg font-medium">SECTION 2 - BRIEF DETAILS OF THE CLAIM</p>
                        <p class="text-secondary mb-6">
                            If the matter is currently before court or arbitration and has been stayed to allow for mediation, please
                            provide the following details
                        </p>
                        <div class="grid sm:grid-cols-2 gap-3 pb-4 w-full">
                            
                            <mat-form-field class="w-full">
                                <mat-label>Stage at which the proceedings have reached</mat-label>
                                <textarea rows="3" matInput formControlName="processStageReached"></textarea>
                                <mat-error *ngIf="submitted && f.processStageReached.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field class="w-full">
                                <mat-label>Details of any hearing dates that have been set</mat-label>
                                <textarea rows="3" matInput formControlName="hearingDates"></textarea>
                                <mat-error *ngIf="submitted && f.hearingDates.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
                        <p class="text-lg font-medium">SECTION 3 – AGREEMENT ON MEDIATION</p>
                        <p class="text-secondary mb-6">
                            
                        </p>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-checkbox color="primary" #allPartyAggreedToMediate (change)="allPartyAggreedToMediateChanged($event)"
                                formControlName="allPartyAggreedToMediate">Have all Parties agreed to mediate this matter?
                                    If ‘Yes’, please provide evidence along with this completed form (contract clause or any submission
                                    agreement or written communications)
                                </mat-checkbox>
                            </div>
                        </div>
                        <div *ngIf="allPartyAggreedToMediate.checked">
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Contract/Contract Clause</mat-label>
                                <ngx-mat-file-input #contractClause formControlName="contractClause" [accept]="'.pdf,.docx'"></ngx-mat-file-input>
                                <button mat-icon-button *ngIf="!contractClause.empty" (click)="contractClause.clear($event)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-icon matSuffix>folder</mat-icon>
                                <mat-error *ngIf="f.contractClause.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Mediation Submission Agreement</mat-label>
                                <ngx-mat-file-input #mediationSubmissionAgreement formControlName="mediationSubmissionAgreement" [accept]="'.pdf,.docx'"></ngx-mat-file-input>
                                <button mat-icon-button *ngIf="!mediationSubmissionAgreement.empty" (click)="mediationSubmissionAgreement.clear($event)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-icon matSuffix>folder</mat-icon>
                                <mat-error *ngIf="f.mediationSubmissionAgreement.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                              </mat-form-field>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Email written Communications between parties (all in one document)</mat-label>
                                <ngx-mat-file-input #emailWrittenComm formControlName="emailWrittenComm" [accept]="'.pdf,.docx'"></ngx-mat-file-input>
                                <button mat-icon-button *ngIf="!emailWrittenComm.empty" (click)="emailWrittenComm.clear($event)">
                                    <mat-icon>clear</mat-icon>
                                </button>
                                <mat-icon matSuffix>folder</mat-icon>
                                <mat-error *ngIf="f.emailWrittenComm.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                              </mat-form-field>
                        </div>
                      </div>


                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <div class="w-full">
                                <mat-checkbox color="primary" formControlName="sendNoticeToOtherParties">Do you want the Center to send a Notice of
                                    Mediation to the other party/parties to see if they are
                                    prepared to mediate?</mat-checkbox>
                            </div>
                        </div>
                        <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Please provide any relevant information below</mat-label>
                                <textarea matInput rows="3" formControlName="relevantInformation"></textarea>
                                <mat-error *ngIf="submitted && f.relevantInformation.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <mat-divider class="mt-6 mb-10"></mat-divider>
                        
                        <p class="text-lg font-medium">SECTION 4 – BACKGROUND OF THE DISPUTE</p>
                        <p class="text-secondary mb-6">
                            
                        </p>
                        <div class="grid sm:grid-cols-4 gap-3 pb-4 w-full">
                            <mat-form-field class="w-full">
                                <mat-label>Dispute Category</mat-label>
                                <mat-select #disputeCategory formControlName="disputeCategory" [multiple]="true">
                                    <mat-select-trigger>
                                        {{disputeCategory.value?.[0]?.name || ''}}
                                        <span *ngIf="(disputeCategory.value?.length || 0) > 1" class="example-additional-selection">
                                          (+{{(disputeCategory.value?.length || 0) - 1}} {{disputeCategory.value?.length === 2 ? 'other' : 'others'}})
                                        </span>
                                      </mat-select-trigger>
                                        <mat-option class="custom-search-input">
                                        <lib-mat-select-search
                                            [list]="disputes"
                                            [searchProperties]="['name']"
                                            (filtered)="filteredDisputes = $event">
                                        </lib-mat-select-search>
                                        </mat-option>
                                    <mat-option *ngFor="let d of filteredDisputes" [value]="d" >
                                        <span>{{d.name}}</span>
                                    </mat-option>
                                    
                                  </mat-select>
                                  <mat-icon matSuffix *ngIf="disputeCategory.value" (click)="disputeCategory.value = null">close</mat-icon>
                                  <mat-error *ngIf="f.disputeCategory.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>  
                            </mat-form-field>
                            <mat-form-field class="col-span-2 w-full">
                                <mat-label>For dispute(s) involving monetary claims, please provide details of the amount in dispute</mat-label>
                                <input matInput type="number" formControlName="monetaryValue">
                                <mat-error *ngIf="submitted && f.monetaryValue.hasError('required')">
                                    <ng-container *transloco="let translate">
                                        {{translate('Field-Required')}}
                                    </ng-container>
                                </mat-error>
                            </mat-form-field>
                        </div>
                      
                            <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                <mat-form-field class="w-full">
                                    <mat-label>Please provide brief details of the dispute. 
                                        Include a summary of what occurred, the date(s) on which the dispute occurred, the names and titles of all individuals involved.</mat-label>
                                    <textarea matInput rows="3" formControlName="disputeDetails"></textarea>
                                    <mat-error *ngIf="submitted && f.disputeDetails.hasError('required')">
                                        <ng-container *transloco="let translate">
                                            {{translate('Field-Required')}}
                                        </ng-container>
                                    </mat-error>
                                </mat-form-field>
                            </div>
                           <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                <mat-form-field class="w-full">
                                    <mat-label>You may attach a separate document setting out the nature of the dispute, but this must not exceed 10 pages</mat-label>
                                    <ngx-mat-file-input  #natureOfDispute formControlName="natureOfDispute" [accept]="'.pdf,.docx'"></ngx-mat-file-input>
                                    <button mat-icon-button *ngIf="!natureOfDispute.empty" (click)="natureOfDispute.clear($event)">
                                        <mat-icon>clear</mat-icon>
                                    </button>
                                    <mat-icon matSuffix>folder</mat-icon>
                                  </mat-form-field>
                            </div>
                           
                            
                                <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                    <mat-form-field class="w-full">
                                        <mat-label>Please provide details of the relief requested (e.g., an amount of money damages or a description of other relief you seek).</mat-label>
                                        <textarea matInput rows="3" formControlName="requestedRelief"></textarea>
                                        <mat-error *ngIf="submitted && f.requestedRelief.hasError('required')">
                                            <ng-container *transloco="let translate">
                                                {{translate('Field-Required')}}
                                            </ng-container>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                                <mat-divider class="mt-6 mb-10"></mat-divider>
                                <p class="text-lg font-medium">SECTION 5 – ADDITIONAL INFORMATION</p>
                                <p class="text-secondary mb-6">
                                   
                                </p>
                                <div class="grid sm:grid-cols-1 gap-3 pb-4 w-full">
                                    <mat-form-field class="w-full">
                                        <mat-label> Please provide any other information which you consider would be of assistance</mat-label>
                                        <textarea matInput rows="3" formControlName="otherInfo"></textarea>
                                        <mat-error *ngIf="submitted && f.otherInfo.hasError('required')">
                                            <ng-container *transloco="let translate">
                                                {{translate('Field-Required')}}
                                            </ng-container>
                                        </mat-error>
                                    </mat-form-field>
                                </div>
                        <div class="flex items-center justify-end border-t -mx-8 mt-8 px-8 py-5 bg-gray-50 dark:bg-gray-700">
                            <button mat-button type="button">
                                Cancel
                            </button>
                            <button
                                type="button"
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'warn'" (click)="saveForm()">
                                Save Work
                            </button>
                            <button
                                type="submit"
                                class="px-6 ml-3"
                                mat-flat-button
                                [color]="'primary'">
                                Submit
                            </button>
                        </div>
                        
                    </form>
                </mat-tab>
                <mat-tab label="Step 2" [disabled]="true"> Content 2 </mat-tab>
                <mat-tab label="Step 3" [disabled]="true"> Content 3 </mat-tab>
                <mat-tab label="Step 4" [disabled]="true"> Content 3 </mat-tab>
              </mat-tab-group>
            
        </div>
    </div>
</div>