/* ----------------------------------------------------------------------------------------------------- */
/*  @ Import/write your custom styles here.
/*  @ Styles from this file will override 'vendors.scss' and Fuse's base styles.
/* ----------------------------------------------------------------------------------------------------- */
@import 'ngx-toastr/toastr';

.profile-img-container {
    position: relative;
    
  }
  
  .image {
    display: block !important;
    
  }
  
  .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .3s ease;
 
  }
  
  .profile-img-container .overlay {
    opacity: 1;
  }
  
  .overlay-icon-left {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 95%;
    left: 35%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .overlay-icon-right {
    color: white;
    font-size: 100px;
    position: absolute;
    top: 95%;
    left: 40%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }

  .camera_alt{
    opacity: 1;
  }

  .profile-image:hover
  {
    opacity: 0.3;
  }
  
  .camera_alt:hover {
    color: #fff !important;
    opacity: 0.5;
  }

  ngx-intl-tel-input input {
    height: 44px;
    margin-bottom: 20px;
    padding: 10px;
    border-style: solid;
    border-width: 1px;
    border-color: #c7cace;
    border-radius: 4px;
    //font-size: 18px;
  }

.custom-search-input
{
  position: sticky !important;
  top: 0 !important;
  padding-top: 0 !important;
  background-color: #fff !important;
  opacity: 1 !important;
  z-index: 1 !important;
}

a {
  color : blue !important;
  text-decoration: underline !important;
}

a:hover{
  color : rgb(13, 158, 255) !important;
}
